.content-section {
  /* min-height: 2000px; */
}
h4 {
  font-size: 16px !important;
  font-weight: 700 !important;
}
.sidebar-section {
  position: absolute;
  height: 100%;
  width: 100%;
}

.sidebar-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Position the items */
}

.make-me-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 15px;
}
.fix-header{
  position: absolute;
  z-index: 1;
  width:100%;
}
fieldset {
  padding: 1em 3em!important;
  margin: 0 2px!important;
  border: 1px solid #026fbf!important;
}
.DMCA fieldset {border: 2px solid #2460bd!important;text-align: left;}
h3.title-txt {
  text-align: center;
  text-transform: capitalize;
  font-size: 35px;
  color: #000;
  margin-bottom: 1em;
  font-weight: 600;
}
.DMCA h3.title-txt span {
  color: #2869ca;
}
.abt-container{
width: 80%;
margin: 0 auto;
}

legend {
display: block;
width: 56%!important;
text-transform: capitalize;
margin-bottom: 20px!important;
padding: 0 1em!important;
color: #000!important;
font-size: 1.95em;
border: 0!important;
font-weight: 300;
font-family: 'Source Sans Pro', sans-serif;
background: #fff;
}
.stats-info {
padding: 0 2em 2em;
}
.stats-grid {
padding: 1em 0;
text-align: center;
background: #eee;
}
.numscroller {
font-size: 40px;
font-weight: 300;
color: #000;
margin-bottom: 0;
line-height: 1em;
}
.stat2 {
padding-left: 0;
}
.DMCA .stats-info p {
color: #d62a48;
}
.abt-pos {
z-index: 1;
}
.w3ls-row {
padding: 0;
margin: 0;
border: none;
position: relative;
}
h3.title {
color: #000;
font-size: 28px;
text-transform: capitalize;
}
p.about-bottom {
margin-top: .6em;
}
.about-left p {
width: 86%;
font-size: 14px;
}
.strtlink {
text-transform: uppercase;
font-weight: 600;
color: #474544;
display: inline-block;
font-size: 12px;
font-weight: 700;
margin: 1em 0 2em;
padding: 9px 23px;
border: 2px solid #fbb02c!important;
}
/* Ignore This, just coloring */
body {
  background: #fff;
}

article {
  background: #f1f1f1;
  border-radius: 12px;
  /* padding: 0 0 100px; */
}

.title-section, .content-section, .sidebar-section {
  background: #fff;
  height: auto;
}

.title-section {
  text-align: center;
  padding: 50px 15px;
  margin-bottom: 30px;
}

.content-section h2 {
  text-align: center;
  margin: 0;
  padding-top: 200px;
}

.sidebar-item {
  text-align: center;
}
.sidebar-item h3 {
  background: gold;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 0 100px;
  border-bottom: solid 1px #fff;
}
#services {
  background: #fff;
  padding: 155px 0;
}
services h5.text-center {
  font-size: 18px;
}
.DMCA .steps {
  /* background: #de536b; */
}
.steps {
  display: inline-block;
  position: relative;
  background: rgba(9, 108, 181, 0.69);
  padding: 36px;
  border-radius: 50%;
  box-shadow: 0 7px 16px rgba(0, 0, 0, .15);
}
.DMCA .steps-cont {
    /* background: #d62a48; */
}
.steps-cont {
    position: absolute;
    left: 1px;
    top: 9px;
    background: #456ba1;
    color: #fff;
    padding: 10px;
    border-radius: 23px 0 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11px;
}
.steps img{
  width: 37px;
  height: 37px;
}
.steps-grid p {
  color: #777;
  margin-top: 15px;
  font-size: 18px;
  padding: 0 12px;
  font-weight: 600;
  margin-bottom: 5px;
  margin: 0;
    color: #777;
    font-size: 17px;
    line-height: 1.6;
    
}
.w3ls-about-grid, .steps-grid {
  padding: 1.5em 0em;
}
.DMCA .services-left h4 span {
  /* color: #d62a48; */
}
.services-left h4 span {
  font-weight: 600;
  color: #026fbf;
}
.services-left h4 {
  margin: 1em 0 .5em;
  color: #000;
  line-height: 1.5;
  font-size: 20px;
}
p {
  margin: 0;
  color: #777;
  font-size: 1.15em;
  line-height: 1.6;
}
ul, label {
  margin: 0;
  padding: 0;
}
ul.serv-list li {
  display: inline-block;
  margin-top: 1em;
  margin: 1em 0.4em 0 0;
}
.text-center{
  text-align: center!important;
}


.price-grid {
  float: left;
  width: 31%;
  margin: 0% 2% 0% 0%
}

.priceing-table h1 {
  font-size: 3em;
  color: #fff;
  text-align: center;
  margin: 1em 0em
}

.scaled-table {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  z-index: 1
}

.priceing-table-main {
  width: 50%;
  margin: 0 auto
}

.prices-head h2 {
  font-size: 2em;
  color: #68AE00;
  margin: 0em 0em 1em .4em;
  font-family: 'Carrois Gothic', sans-serif
}

.price-list ul {
  padding: 0;
  list-style: none
}

.price-gd-top {
  text-align: center;
  border-radius: 5px 5px 0 0
}

.price-gd-top h4 {
  font-size: 1.8em;
  margin-bottom: 15px;
  padding: 20px 10px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #dbe9f1
}

.pric-clr1 h4,
.pric-clr1 h3 {
  color: #777
}

.pric-clr2 h4,
.pric-clr2 h3 {
  color: #dc7449
}

.pric-clr3 h4,
.pric-clr3 h3 {
  color: #2289ca
}

.price-list p {
  font-size: 12px
}

.price-gd-top h3 {
  padding: 0em 0em .1em 0em;
  font-size: 50px;
  line-height: 35px
}

.price-gd-top h3 .section {
  padding: 6em 0;
}i,
.price-gd-top h3 small {
  font-size: 20px;
  margin-right: 2px
}

.price-gd-top h5 {
  font-size: 1em;
  color: #97a3b0;
  padding: 0em 0em .8em 0em
}

.pricing-content-top {
  color: #5f7182;
  font-size: 12px;
  margin-bottom: 10px;
  line-height: 20px
}



.text-green {
  color: #78a300
}

.price-gd-bottom {
  background: #fff;
  text-align: left;
  padding: 1em 0em
}

.price-selet.pric-sclr2 a {
  background: #dc7449
}

.price-selet.pric-sclr3 a {
  background: #2289ca
}

.price-list ul li {
  padding: .5em 0em;
  font-size: .9em;
  color: #545454
}

.price-selet {
  padding: 1em 0em;
  text-align: center;
  background: #fff;
  border-radius: 0 0 5px 5px
}

.price-selet a {
  font-size: 1.1em;
  color: #fff;
  display: block
}

.price-selet a {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding: 1em 1.5em;
  background: #777;
  border-radius: 3px;
  width: 90%
}

.price-grid {
  margin-bottom: 3em
}

.price-block {
  border: 1px solid rgba(0, 0, 0, .1);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  border-radius: 5px;
  padding: 0 25px
}

.price-grid-wrapper {
  margin-top: 2.5em;
}
.section {
  padding: 6em 0;
}
.banner-text {
   margin: 9.5em auto 0;
   /* margin-right: 45px; */
   position: relative;
   width: 80%;
   /* height: 132px; */
   padding: 65px;
   /* background: #17a2b8; */
   border: 2px solid #2460bd;
}

.ribbon {
  height: 90px;
  position: absolute;
  left: 885px;
  /* top: 100px; */
  overflow: hidden;
  width: 100px;
  right: 0;
  top: 3px;
}

.ribbon .inset {
  width: 100%;
  height: 55px;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: 5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, .3);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3)
}

.ribbon .container1 {
  position: relative;
  height: 142px;
  overflow: hidden;
  margin: 0 auto;
  /* border-right: 1px dashed #60afe8; */
}

.patent .ribbon .container1 {
  border-right: 1px dashed #a137b3
}

.DMCA .ribbon .container1 {
  /* border-right: 1px dashed #d62a48 */
}
.ipmgmt .ribbon .container1 {
  border-right: 1px dashed #5cb945
}

.ribbon .base a {
  position: relative;
  display: block;
  z-index: 3
}

.ribbon .base {
  height: 58px;
  background: rgb(199, 59, 60);
  background: linear-gradient(to bottom, #2293f9 0%, #026fbf 100%);
  position: relative;
  z-index: 2;
}

.patent .ribbon .base {
  background: linear-gradient(to bottom, #5d3663 0%, #93569d 100%)
}

.DMCA .ribbon .base {
  background: #225ebdc4;
}

.ipmgmt .ribbon .base {
  background: linear-gradient(to bottom, #5cb945 0%, #59864e 100%)
}

.ribbon .base:after {
  content: '';
  position: absolute;
  top: 0;
  width: calc(100% - 14px);
  left: 6px;
  height: 78px;
  /* border-left: 1px dashed #60afe8; */
  /* border-right: 1px dashed #60afe8 */
}

.patent .ribbon .base:after {
  border-left: 1px dashed #a137b3;
  border-right: 1px dashed #a137b3
}

.DMCA .ribbon .base:after {
  /* border-left: 1px dashed #a137b3; */
  /* border-right: 1px dashed #a137b3 */
}

.ipmgmt .ribbon .base:after {
  border-left: 1px dashed #5cb945;
  border-right: 1px dashed #5cb945;
}

.ribbon .base:before {
  content: '';
  position: absolute;
  top: 0;
  width: calc(100% - 14px);
  left: 7px;
  height: 78px;
  /* border-left: 1px dashed #0270bf; */
  /* border-right: 1px dashed #0270bf */
}

.patent .ribbon .base:before {
  border-left: 1px dashed #a137b3;
  border-right: 1px dashed #a137b3
}

.DMCA .ribbon .base:before {
  /* border-left: 1px dashed #a137b3; */
  /* border-right: 1px dashed #a137b3 */
}

.ipmgmt .ribbon .base:before {
  border-left: 1px dashed #5cb945;
  border-right: 1px dashed #5cb945;
}

.ribbon .left_corner {
  width: 150px;
  height: 150px;
  background: #026fbf;
  position: absolute;
  bottom: 69px;
  left: -70px;
  z-index: 1;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(75deg);
}

.patent .ribbon .left_corner {
  background: #93569d
}

.DMCA .ribbon .left_corner {
  background: #2460bd;
}
.ipmgmt .ribbon .left_corner {
  background: #59864e
}

.ribbon .right_corner {
  width: 150px;
  height: 150px;
  background: #026fbf;
  position: absolute;
  bottom: 69px;
  right: -70px;
  z-index: 1;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(15deg);
}

.patent .ribbon .right_corner {
  background: #93569d
}

.DMCA .ribbon .right_corner {
  background: #225ebd;
}
.ipmgmt .ribbon .right_corner {
  background: #59864e
}
#slider2,
#slider3 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto
}

.callbacks_container {
    width: 100%;
    background: #fff;
    position: relative
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0
}

.callbacks li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0
}

.callbacks_tabs li {
    display: block;
    margin: .5em 0
}

.callbacks_tabs {
    list-style: none;
    position: absolute;
    z-index: 99;
    top: 38%;
    right: -25px;
    padding: 0;
    margin: 0
}

.callbacks_tabs a {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    font-size: 0
}

.callbacks_tabs a:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: -5px;
    left: -5px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all
}

.callbacks_here a:after {
    border-color: #fff;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -ms-transform: scale(1)
}
.price {
  text-align: center;
  color: #fff;
  padding-top: 10px;
  font-size: 25px
}

.price p {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 0;
  color: rgba(255, 255, 255, .7)
}
#slider2,
#slider3 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto
}

.callbacks_container {
    width: 100%;
    /* background: #fff; */
    position: relative;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  /* background: #7c8596; */
}

.callbacks_tabs li {
  display: block;
  margin: .5em 0;
}

.callbacks_tabs {
  list-style: none;
  position: absolute;
  z-index: 99;
  top: 38%;
  right: -25px;
  padding: 0;
  margin: 0
}

.callbacks_tabs a {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #42699f;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  font-size: 0;
}

.callbacks_tabs a:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border: 1px solid white;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: -5px;
  left: -5px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  transition: .5s all
}

.callbacks_here a:after {
  border-color: #fff;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -ms-transform: scale(1)
}
.banner-text h6 {
  font-size: 2.2em;
  color: #000;
  margin-bottom: .5em;
  padding-bottom: .5em;
  font-weight: 600;
  letter-spacing: 0;
  border-bottom: 1px solid #777;
  display: inline-block;
  text-transform: capitalize;
}
.banner-text h3 {
  font-size: 1.8em;
  color: #026fbf;
  margin-bottom: .5em;
  font-weight: 600
}
.DMCA .banner-text h3 {
  color: #d62a48;
}